@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lemon&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
}

:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-400: #555;
	--base-800: #000;
	--yellow: #ffda4b;
	--yellow-100: #fffbe6;
	--yellow-400: #ffda4b;
	--yellow-800: #8b6f00;
	--blue: #0a61ae;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--blue-800: #0a61ae;
}

body{
    font-family: 'Poppins', sans-serif;;
}

html{
    scroll-behavior: smooth;
}

p{
    color:rgb(85, 85, 85);
}

/* TRANSITION */
a, 
.btn{
    transition: all 300ms ease;
}

/* LOGO */
header {
	padding-top:10px;
	padding-bottom:10px;
	display:flex;
	justify-content:space-between;
	max-width:1440px;
	margin:auto;

	.logo-holder {
		display:flex;
		padding:10px;
		align-items:center;
		font-weight:600;
		color: var(--base-800);
		
		.logo {
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:32px;
			background-color: var(--base-800);
			color: var(--base-100);
			height:64px;
			width:64px;
			margin-right:20px;
			border-radius:50%;
		}
		.logo-text {
			flex:1;
		}
	}

    /* DESKTOP NAV */

    nav,
    .nav-links{
        display: flex;
    }

    nav{
        justify-content: space-around;
        align-items: center;
        margin: 2rem 0 2rem 0;
    }

    .nav-links{
        gap:2rem;
        list-style: none;
        font-size: 1.5rem;

    }

    a{
        color: var(--base);
        text-decoration: none;
        padding: 10px 20px;

    }

    a:hover{
        background-color: var(--base-100);
        border-radius: 10px;
    }

}

/* HAMBURGER MENU */
#hamburger-nav{
    display:none; 
    flex-direction:column;
    align-items:center;
 
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin-right: 30px;

}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--base-800);
    transition: all 0.3 ease-in-out;

}

.menu-links{
    display:none;
    flex-direction:column;
    text-align:center;
    width:100%;
    list-style:none;
    gap:1rem;

}

.menu-links a{
    width:100%;

}

.menu-links.open{
    display:flex;
}

.hamburger-icon.open span:first-child{

    transform: rotate(45deg) translate(10px, 5px);  
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;  
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);  
}

.hamburger-icon span:first-child{
    transform:none;
}

.hamburger-icon span:first-child{
    opacity:1;
}

.hamburger-icon span:first-child{
    transform:none;
}

/*SECTION STYLES*/
.section__text p{
    font-weight:600;

}

.section__text__p1{
    text-align: center;
}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.title{
    font-size: 3rem;
    text-align: center;
}

/*HERO SECTION*/
.profile-container{
    max-width: 1440px;
    margin: auto; 
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#profile {
    display:flex;
    
    .section__pic-container{
          flex:1;
          background-color: var(--yellow);
          border-radius:30px;
          padding:30px;
          display:flex;
          justify-content:center;
          align-items:flex-end;
          img {
              max-width:420px;
          }
    }
    
    .section__text{
        flex:1;
            background-color: var(--blue-100);
            border-radius:30px;
            display:flex;
            flex-direction:column;
            justify-content:center;
    }

    #socials-container{
        display:flex;
        justify-content:center;
        margin-top: 1rem;
        gap: 1rem;
    }
    /* STYLING ICONS*/
    
    .icon-color-1,
    .icon-color-2{
        cursor:pointer;
        height:2rem; 
    }
    
    .icon-color-1:hover{
        background: rgb(17, 54, 218);
        
    }
    
    .icon-color-2:hover{
        background: rgb(243, 130, 37);
        
    }
    
  
    /* STYLING SOCIAL BUTTONS*/

    .btn-container{
        display: flex;
        justify-content:center;
        gap: 1rem;
    }

    .btn{
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width:8rem;
        border-radius: 2rem;
    }

    .btn-color-1,
    .btn-color-2{
        border: rgb(53,53,53) 0.1rem solid;
    }

    .btn-color-1:hover,
    .btn-color-2:hover{
        cursor:pointer;
    }

    .btn-color-1,
    .btn-color-2:hover{
        background:  var(--base-800);
        color:var(--base-100);
    }

    .btn-color-1:hover{
        background: var(--base-800);

    }

    .btn-color-2{
        background:  var(--base-100)
        
    }

    .btn-color-2:hover{
        border: var(--base-100) 0.1rem solid;
    }

    .btn-container{
        gap:1rem;
    }
    
}

.logos {
	background-color: var(--base-100);
	border-radius:30px;
	padding:30px 0px;
	@media (max-width:1440px){
		border-radius:0px;
	}
	.marquee {
		width:100vw;
		max-width:100%;
		height:128px;
		overflow:hidden;
		position:relative;
		.track {
			position:absolute;
			white-space:nowrap;
			will-change:transform;
			animation: marquee 40s linear infinite;
			display:flex;
			gap:10px;
		}
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.icon{
    cursor:pointer;
    height:2rem; 

}

#about {
	.holder-blue {
		background-color: var(--blue-100);
		border-radius:30px;
		padding:30px;
		display:flex;
		.left-column {
			flex:1;
					padding:10px 20px;
					border-radius:15px;
					margin-bottom:10px;
				}
			}
        .right-column {
            flex:1;
                p {
                    margin-bottom:20px;
                }

}

}


/* ABOUTME SECTION */
.about-containers
{
    display:flex;
} 
.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-pic{
    border-radius:2rem;
    height:18rem;
}

.details-container{
    padding:1.5rem;
    flex:1;
    background:white;
    border-radius:2rem;
    border:rgb(53,53,53) 0.1rem solid;
    border-color:rgb(163,163,163);
    text-align:center;
}

/*SKILLS SECTION*/
#skills{
    position:relative;
}

.skills-sub-title{
    color:rgb(85,85,85);
    font-weight:600;
    font-size: 1.75rem;
    margin-bottom:2rem;
}


.article-container{
    display:flex;
    text-align:initial;
    flex-wrap:wrap;
    flex-direction: row;
    gap:2.5rem;
    justify-content:space-around;
}

article{
    display:flex;
    width:10rem;
    justify-content:space-around;
    gap:0.5rem;
}


/* PROJECTS SECTION */
  
  /* Flexbox for Container */
  .experience-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Individual Project Card */
  .project-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Image Styling */
  .project-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  /* Buttons */
  .btn-container {
    margin-top: 15px;
  }
  
  .project-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .project-btn:hover {
    background-color: #0056b3;
  }
  


/* BOOK RECOMMENDATIONS SECTION*/
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #a2a7ac;
    color: #0c0c0c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333435;
}

  form#quote-form {
    display: flex;
    flex-direction: column;
  }
  
  form#quote-form label,
  form#quote-form input,
  form#quote-form textarea,
  form#quote-form button {
    margin-bottom: 10px;
  }
  
  form#quote-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form#quote-form button:hover {
    background-color: #45a049;
  }

  label {
    
    font-weight: bold;
  }
  
/* MAP SECTION*/
#map{

    border-radius: 5%;
    border-width: 3px;
    border-style: solid; 
    justify-content: center;
}

  .map-container{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 10px;
    min-width: 400px; /* Adjust this value as needed for responsiveness */
  }

 
  .form-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  
  iframe#map {
    width: 100%;
    height: 390px;
    border: 0;
  }
  
/* CONTACT SECTION*/
.contact-info-upper-container{
    border-radius: 2rem;
    border:rgb(53,53,53) 0.1rem solid;
    border-color:rgb(163,163,163);
    margin: 2rem auto;
    padding:0.5rem;
}

.contact-info-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0.5rem;
    margin:1rem;

}

.contact-info-container p{
    font-size:larger;
}

.contact-icon{
    cursor:default;
}

.email-icon{
    height:2.5rem;
}

footer{
    height:26vh;
    margin: 0 1rem;
}

footer p{
    text-align:center;
}


